
$color-zircon:#FAFCFF;
$color-quarter-spanish-white:#F9F1E7;
$color-quicksand: #DC978C;

$color-bright-gray: #37384C;
$color-cadet-blue:#B2BBC3;
$color-contessa: #C97164;


$font-lato: 'Lato';
$font-monts:'Montserrat';

$ease-out-expo: cubic-bezier(0,19,1,0.22, 1);

$z-indexes: (
    'preloader',
    'navigation',
    'content'
);
