@font-face {
    font-family: $font-monts;
    src: url('../fonts/monts-regular.woff2') format('woff2'),
        url('../fonts/monts-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: $font-monts;
    src: url('../fonts/monts-extralight.woff2') format('woff2'),
        url('../fonts/monts-extralight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: $font-monts;
    src: url('../fonts/monts-light.woff2') format('woff2'),
        url('../fonts/monts-light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: $font-lato;
    src: url('../fonts/lato-regular.woff2') format('woff2'),
        url('../fonts/lato-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

